.modal__create-category {
    .ant {

        &-input {
            padding: 15px 10px;
            font-size: 20px;
        }

        &-btn-primary {
            padding: 20px 25px;
            line-height: 0;
            font-size: 20px;
            border-radius: 5px;
        }

        &-btn-dashed {
            padding: 20px 25px;
            line-height: 0;
            font-size: 20px;
            border-radius: 5px;
        }
    }

    .modal__create-category-btns {
        display: flex;
        justify-content: space-between;
    }
}