@import '../../../vars.less';

@border-radius: 6px;
.modal__auth {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  .ant-modal-body {
    padding: 40px !important;
  }
  .ant {
    &-btn-group {
      display: flex;
      justify-content: space-between;
      .ant-btn {
        border-radius: @border-radius;
        padding: 18px 15px;
        line-height: 0;
        font-size: 17px;
      }
      .ant-btn-primary + .ant-btn:not(.ant-btn-primary):not([disabled]) {
        border-left-color: @button-color;
      }
      .ant-btn:first-child:not(:last-child) {
        border-top-left-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
      }
      .ant-btn:last-child:not(:first-child) {
        border-top-right-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
      }
      .ant-btn-default {
        background-color: transparent;
        border: 1px solid @button-color;
      }
    }
    &-input-affix-wrapper {
      border-radius: 10px;
      padding: 10px 15px;
    }
    &-input-password {
        margin-bottom: 0;
    }
  }
  .ant-btn-group > .ant-btn:only-child {
    width: 100%;
    border-radius: @border-radius;
    margin-top: 10px;
  }
}
