@import '../../../../vars.less';

.admin__filters {
    display: flex;
    justify-content: space-between;

    &-block {
        max-width: 600px;
        width: 100%;
    }

    &-btns {
        .ant-btn-default {
            margin-right: 5px;
            font-size: 20px;
            line-height: 0;
            padding: 18px 10px;
            border-radius: 5px;
        }
    }

    .ant {
        &-input {
            max-width: 150px;
            font-size: 18px;
        }

        &-select {
            max-width: 150px;
            width: 100%;
            font-size: 18px;

            &-selector {
                height: 35px !important;
            }
        }

        &-modal-content {
            max-width: 600px;
        }
    }
}

.admin__createModal {
    .ant-input-number {
        width: 100%;
    }

    select {
        width: 100%;
        padding: 5px 8px;
        border: 1px solid rgba(0, 0, 0, 0.178);

        &:hover {
            cursor: pointer;
        }
    }
}