@import '../../vars.less';

@border-radius: 6px;

.header {
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__filters {
    display: flex;
    align-items: center;
    span {
      margin-right: 10px;
    }
  }
  .ant {
    &-page-header-ghost {
      background-color: @header-color;
        padding: 10px 50px;
    }
    &-typography {
      color: @header-text-color;
      margin-top: 0;
    }
    &-input {
      width: 400px;
      border-radius: 15px;
      margin-right: 20px;
    }
    &-btn {
      border-radius: 5px;
      width: 70px;
    }
    &-select {
      width: 330px;
      margin-right: 40px;
    }
    &-slider {
      max-width: 350px;
      min-width: 150px;
      &-track {
        background-color: #1890ff;
      }
      span {
        color: @header-text-color;
      }
    }
    &-switch {
      margin-right: 40px;
    }
  }
  &__user {
    display: flex;
    max-height: 32px;
    margin-top: 12px;
    h4.ant-typography {
      margin-left: 10px;
    }
  }
}
.ant {
  &-modal-body {
    .modal__inputs {
      margin-left: auto;
      margin-right: auto;
      max-width: 250px;
    }
  }
  &-input-password {
    margin-bottom: 5px
  }
}

.ant {
  &-modal-content {
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
  }
  &-modal-body {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  &-btn-group {
    display: flex;
    justify-content: space-between;
    .ant-btn {
      border-radius: @border-radius;
      padding: 20px 20px;
      line-height: 0.01;
    }
    .ant-btn-primary + .ant-btn:not(.ant-btn-primary):not([disabled]) {
      border-left-color: @button-color;
    }
    .ant-btn:first-child:not(:last-child) {
      border-top-left-radius: @border-radius;
      border-bottom-left-radius: @border-radius;
    }
    .ant-btn:last-child:not(:first-child) {
      border-top-right-radius: @border-radius;
      border-bottom-right-radius: @border-radius;
    }
    .ant-btn-default {
      background-color: transparent;
      border: 1px solid @button-color;
    }
  }
  &-input-affix-wrapper {
    border-radius: 10px;
    padding: 10px 15px;
  }
}