.admin__projects {
    background-color: white;

    .ant {
        &-descriptions-item-label {
            width: 25%;

            span {
                color: purple;
                font-size: 20px;
            }
        }

        &-row {
            display: block;
        }

        &-typography {
            color: purple;
            font-size: 20px;
            text-align: end;
        }

        &-upload {
            span {
                font-size: 20px;
            }
        }
    }

    .request {
        display: flex;

        span {
            margin-left: 40px;
            margin-top: 3px;
            max-width: 100px;
            width: 100%;
            margin-right: 5px;
        }
    }

    .contract {
        display: flex;

        span.ant {
            &-typography {
                margin-top: 3px;
                margin-right: 10px;
                margin-left: 25px;
                max-width: 145px;
            }

            &-checkbox {
                margin-top: 9px;
                margin-right: 10px;
            }
        }
    }

    .contest {
        display: flex;

        span.ant-typography {
            margin-right: 10px;
            margin-left: 20px;
            max-width: 75px;
            width: 30%;
        }
    }

    .draft {
        display: flex;

        span.ant-typography {
            margin-right: 20px;
            margin-left: 20px;
        }
    }
}