@import '../../../vars.less';

.products {
    max-width: 900px;
    margin: 0 auto;
    background-color: @light-text-color;
    padding: 5px 15px;
    &__menu {
        display: flex;
        justify-content: space-between;
        &-icons {
            margin-top: 6px;
            margin-right: 10px;
            .anticon {
                font-size: 30px;
                margin-top: 3px;
                &-unordered-list {
                    margin-right: 10px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                &-appstore {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .ant {
        &-select {
            width: 200px;
        }
        &-pagination {
            text-align: left;
        }
    }
}
.ant-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 10px;
}

@media (max-width: 850px) {
    .products {
        &__tile {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 500px) {
    .products {
        text-align: -webkit-center;
        &__menu {
            h2 {
                font-size: 25px;
                margin-left: auto;
                margin-right: auto;
            }
            &-icons {
                display: none;
            }
        }
    }
}