@import '../../../../vars.less';

.cardTile {
    .ant-card {
        background-color: @card-background;
        filter: drop-shadow(3px 5px 4px rgba(8, 8, 8, 0.082));
        margin-top: 5px;
        margin-bottom: 15px;
        width: 270px;
        &-head-title {
            h4 {
                a {
                    color: @header-color;
                }
            }
        }
    }
    .ant-card-small > .ant-card-body {
        position: relative;
        .anticon {
            position: absolute;
            right: 14px;
            top: 12px;
            font-size: 23px;
        }
    }
}

@media (max-width: 900px) {
    .cardTile {
        .ant-card {
            width: 250px;
        }
    }
}

@media (max-width: 825px) {
    .cardTile {
        .ant-card {
            width: 230px;
        }
    }
}

@media (max-width: 770px) {
    .cardTile {
        .ant-card {
            width: 270px;
        }
    }
}

@media (max-width: 500px) {
    .cardTile {
        .ant-card {
            max-width: 270px;
        }
    }
}

@media (max-width: 300px) {
    .cardTile {
        .ant-card {
            max-width: 240px;
        }
    }
}