.cardTile {
    .ant-card {
        background-color: #FAFAFA;
        filter: drop-shadow(3px 5px 4px rgba(8, 8, 8, 0.082));
        margin-top: 5px;
        margin-bottom: 15px;
        max-width: 270px;
        width: 100%;
    }
    .ant-card-small > .ant-card-body {
        position: relative;
        .anticon {
            position: absolute;
            right: 14px;
            top: 12px;
            font-size: 23px;
        }
    }
}